.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: "Svn poppins", sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 29px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: "Svn poppins", sans-serif;
  color: #244171;
  font-size: 56px;
  line-height: 73px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #244171;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #2e3a59;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
}

a {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #36f;
  text-decoration: underline;
}

a:hover {
  color: rgba(51, 102, 255, 0.1);
}

img {
  display: inline-block;
}

.mycontain {
  display: block;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.styletitle {
  margin: 20px 15px 30px;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.flexcolwrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexcolwrap.inversecolors {
  padding-top: 26px;
  padding-bottom: 0px;
  background-color: #36f;
}

.flex2col {
  width: 50%;
  margin-bottom: 15px;
  padding: 10px 15px;
}

.heading {
  font-size: 55px;
  line-height: 64px;
}

.stylename {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #fff;
  border-bottom: 0px none #fff;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.small-p {
  margin-bottom: 10px;
  color: #2e3a59;
  font-size: 16px;
  line-height: 26px;
}

.colorbox {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 25px;
}

.colorbox.blackcolor {
  margin-left: 0px;
  background-color: #244171;
  color: #000;
}

.colorbox.brandmaincolor {
  background-color: #36f;
}

.colorbox.brand2ndcolor {
  background-color: rgba(51, 102, 255, 0.1);
}

.colorbox.darkgreycolor {
  background-color: #2e3a59;
}

.colorbox.lightgreycolor {
  background-color: #fff;
}

.flex3col {
  width: 33.333%;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.flex3col.textlinkcol {
  padding-top: 19px;
}

.cta-button {
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 10px;
  background-color: #36f;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.cta-button:hover {
  background-color: rgba(51, 102, 255, 0.1);
  color: #fff;
}

.cta-button.ghost-button {
  border-style: solid;
  border-width: 1px;
  border-color: #36f;
  background-color: transparent;
  color: #36f;
}

.cta-button.ghost-button:hover {
  border-color: #36f;
  background-color: #36f;
  color: #fff;
}

.cta-button.ghost-button.inverse-ghost {
  border-color: #fff;
  color: #fff;
}

.cta-button.ghost-button.inverse-ghost:hover {
  background-color: #fff;
  color: #36f;
}

.cta-button.inverse-button {
  background-color: #fff;
  color: #36f;
}

.cta-button.inverse-button:hover {
  background-color: rgba(51, 102, 255, 0.1);
  color: #fff;
}

.invese-link {
  color: #fff;
}

.coldummycolor {
  background-color: #fff;
}

.popbg {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 500;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.77);
  opacity: 0;
}

.popwindow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  padding: 17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.hero {
  height: 700vh;
  background-color: #36f;
  color: #fff;
}

.heading-3 {
  font-family: Poppins;
  font-size: 70px;
  line-height: 72px;
  font-weight: 800;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 40px;
  line-height: 48px;
}

.heading-5 {
  font-size: 60px;
  line-height: 72px;
}

.heading-6 {
  font-size: 56px;
  line-height: 73px;
}

.heading-7 {
  font-size: 40px;
  line-height: 60px;
}

.paragraph {
  line-height: 35px;
}

.image {
  width: 7em;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  float: none;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(180deg, #0E9594 0%, #127475 100%);
}

.nav-link {
  padding-top: 21px;
  padding-bottom: 19px;
  color: #fff;
  font-size: 15px;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.w--current {
  border-style: solid;
  border-width: 0px;
  border-color: #fff;
  color: #fff;
}

.nav-link._1 {
  border-width: 0px;
}

.nav-link._1:hover {
  color: #fff;
}

.nav-link._1:active {
  border-bottom: 2px solid #fff;
}

.nav-link._2 {
  border-width: 0px;
}

.header {
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 120px;
}

.header_image_wrapper {
  padding-right: 0px;
}

.header_content_wrapper {
  margin-top: 90px;
  margin-left: 0px;
}

.header_content {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 72px;
}

.header_grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button_2.tablet {
  text-decoration: none;
}

.button_2.tablet:hover {
  color: #36f;
}

.button_arrow {
  text-decoration: none;
}

.text-block {
  display: inline-block;
  margin-right: 16px;
  padding-right: 0px;
  background-image: linear-gradient(128deg, #e6558a, #8f2adf);
  font-weight: 500;
  text-decoration: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-block:hover {
  background-image: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.heading-8 {
  display: block;
  max-width: 50ch;
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 17px;
}

.make_an_appointment_box {
  position: static;
  left: 0%;
  top: 55%;
  right: auto;
  bottom: auto;
  display: block;
  width: 91%;
  height: auto;
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  float: none;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 24px 64px 32px rgba(51, 102, 255, 0.07);
}

.field-label-2 {
  display: block;
  margin-bottom: 8px;
  color: #244171;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.text-field {
  height: 56px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(51, 102, 255, 0.1);
  border-radius: 10px;
}

.text-field._2 {
  margin-bottom: 24px;
}

.text-field._3 {
  margin-bottom: 24px;
  padding-right: 90px;
}

.text-field._1 {
  height: 56px;
  max-width: 480px;
  margin-bottom: 24px;
  padding-right: 12px;
}

.text-field._3 {
  max-width: 290px;
}

.text-field.new {
  max-width: 220px;
  margin-bottom: 24px;
}

.address_form {
  margin-right: 16px;
}

.time_form {
  margin-right: 16px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.form-undisplay {
  display: none !important;
}
.email-form-undisplay {
  display: none !important;
}

.submit-button {
  width: 100%;
  height: 56px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 10px;
  background-color: #36f;
  font-size: 16px;
}

.form_block {
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; */
  /* display: flex; */
  width: 850px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.form_block.tablet {
  width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.address_form_dropdown {
  height: 56px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(51, 102, 255, 0.1);
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0);
}

.collection-list-wrapper {
  display: none;
}

.body {
  margin-top: 80px;
}

.grid.body {
  grid-column-gap: 0px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.body_right_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-3 {
  max-width: 50ch;
  font-size: 16px;
  line-height: 28px;
}

.heading-title {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 35px;
  line-height: 56px;
}

.heading-title.middle {
  margin-top: 0px;
  margin-bottom: 8px;
  padding-top: 80px;
  text-align: center;
}

.heading-title.middle.morespace {
  margin-bottom: 40px;
}

.heading-title.colored {
  background-image: linear-gradient(127deg, #e6558a, #8f2adf);
}

._3_introduction {
  margin-bottom: 80px;
}

.heading-10 {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image-2 {
  margin-bottom: 24px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.intro_text {
  text-align: center;
}

.grid-3 {
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.ask_form {
  margin-top: 85px;
  margin-left: 120px;
}
@media (max-width: 1024px) {
  .ask_form {
    margin-top: 0px;
    margin-left: 40px;
  }
}

.faq {
  background-image: linear-gradient(127deg, #e6558a, #8f2adf);
}

.clinic_prep {
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 80px;
  background-color: #f4f7ff;
}

.heading-11 {
  margin-top: 0px;
  padding-top: 80px;
  font-size: 35px;
  line-height: 56px;
  text-align: center;
}

.clinic_para {
  margin-right: 120px;
  margin-bottom: 40px;
  margin-left: 120px;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}

.heading-13 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 20px;
}

.paragraph-5 {
  display: inline-block;
  max-width: 20ch;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  font-size: 16px;
}

.projects-col-list {
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.clinic_style_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  width: 24px;
  height: 24px;
  padding: 16px 12px;
}

.square_button {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 8px;
  background-image: url("../images/Group-713.jpg");
  background-position: 50% 50%;
}

.footer_banner {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #e3e7f3;
}

.banner_content {
  margin-left: 120px;
}

.banner_image {
  height: 415px;
  background-image: url("../images/Footer_Banner.svg");
  background-position: 0px 0px;
  background-size: cover;
}

.heading-14 {
  margin-top: 0px;
  margin-bottom: 16px;
  background-image: linear-gradient(126deg, #e6558a, #8f2adf);
  font-size: 32px;
  line-height: 48px;
}

.button-2 {
  padding: 12px 40px;
  border-radius: 10px;
  background-color: #36f;
  color: #fff;
}

.paragraph-6 {
  max-width: 60ch;
  margin-bottom: 40px;
  font-size: 16px;
}

.testimonial {
  margin-bottom: 80px;
}

.heading-15 {
  margin-top: 80px;
  font-size: 35px;
  line-height: 56px;
  text-align: center;
}

.testimonial_subtitle {
  background-image: linear-gradient(127deg, #e6558a, #8f2adf);
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-block-3 {
  margin-top: 8px;
  font-weight: 600;
}

.text-block-4 {
  margin-top: 4px;
  color: rgba(31, 31, 31, 0.8);
}

.collection-list-2 {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: hsla(0, 0%, 100%, 0);
}

.collection-list-wrapper-2 {
  background-color: transparent;
}

.paragraph-7 {
  margin-top: 16px;
  margin-bottom: 0px;
  color: #2e3a59;
  font-size: 16px;
  text-align: center;
}

.projects-col-item {
  display: block;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.prep_slider {
  height: 930px;
  background-color: #f4f7ff;
}

.mask {
  height: 100%;
  margin-right: 120px;
  margin-left: 120px;
  background-color: hsla(0, 0%, 100%, 0);
}

.icon {
  background-color: #36f;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-2 {
  background-color: #36f;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-arrow {
  margin-left: 40px;
  padding-right: 0px;
  padding-left: 0px;
}

.right-arrow {
  margin-right: 40px;
}

.testimonial_slide {
  display: block;
  height: 440px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #fff;
}

.mask-2 {
  height: 100%;
  margin-right: 80px;
  margin-left: 80px;
  background-color: hsla(0, 0%, 100%, 0);
}

.left-arrow-2 {
  margin-left: 0px;
}

.slide {
  height: 100%;
  background-color: transparent;
}

.icon-3 {
  background-color: #36f;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-4 {
  background-color: #36f;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_2._2 {
  display: block;
  margin-right: 16px;
}

.submit-button-2 {
  width: 100%;
  padding: 12px 166px;
  border-radius: 10px;
  background-color: #36f;
}

.submit-button-2:hover {
  color: #fff;
}

.form_faq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

.textarea {
  height: 70px;
  max-width: 480px;
  margin-bottom: 24px;
  padding-bottom: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(51, 102, 255, 0.1);
  border-radius: 10px;
}

.question-title {
  margin-right: 10px;
  letter-spacing: -0.03em;
}

.faq-paragraph {
  margin-bottom: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #485166;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.faq-wrapper {
  margin-right: auto;
  margin-left: auto;
}

.faq-question-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  color: #1a1e27;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  text-decoration: none;
}

.div-block-2 {
  width: 100%;
  height: 1px;
}

.faq-question-wrap {
  padding-right: 40px;
  padding-left: 40px;
  cursor: pointer;
}

.faq-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  min-height: 55px;
  min-width: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #f3f3f3;
}

.faq-content {
  overflow: hidden;
}

.faq-plus-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-h1 {
  text-align: center;
}

.pricing-h1.faq-h2 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 50px;
  text-align: left;
}

.faq-plus-l {
  position: absolute;
  width: 5px;
  height: 100%;
  border-radius: 3px;
  background-color: #36f;
}

.faq-q-text {
  font-size: 16px;
  line-height: 29px;
  font-weight: 500;
}

.faq-plus {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: #36f;
}

.faq-question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
}

.container-2 {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5vw;
  padding-left: 5vw;
}

.container-2.faq-container {
  width: auto;
  max-width: 900px;
  margin: 24px;
  padding: 60px 3vw;
  border-radius: 0px;
  background-color: hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 0 50px 0 rgba(45, 62, 80, 0.06);
}

.link {
  color: #2aa8ff;
  font-weight: 600;
}

.faq-answer-text {
  margin-bottom: 12px;
  border: 1px none #000;
  font-size: 14px;
  line-height: 24px;
}

.faq-answer {
  overflow: hidden;
  padding-left: 45px;
  border-bottom: 1px solid rgba(45, 62, 80, 0.12);
}

.faq-answer.last-faq-answer {
  border-bottom-width: 0px;
}

.faq-answer.last {
  border: 1px none #000;
}

.footer {
  width: 100%;
}

.footer-07 {
  padding: 132px 3%;
  background-color: #1e2833;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #36f;
  text-align: center;
}

.footer-link-white {
  display: block;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.footer-link-white:hover {
  opacity: 0.5;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-light {
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}

.footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container-3 {
  width: 100%;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.logo {
  margin-bottom: 12px;
}

.text-rights {
  display: block;
  margin-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.heading-16 {
  margin-bottom: 24px;
  padding-left: 0px;
  font-size: 28px;
  line-height: 35px;
}

.div-block-3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-5 {
  display: block;
}

.nav-link-2 {
  padding-top: 21px;
  padding-bottom: 19px;
  color: #fff;
  font-size: 15px;
}

.login_button {
  padding-top: 21px;
  padding-bottom: 19px;
  color: #fff;
  font-size: 15px;
}

.nav-link-4 {
  padding-top: 21px;
  padding-bottom: 19px;
  color: #fff;
  font-size: 15px;
}

.brand {
  margin-right: 40px;
  margin-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.signup_button {
  color: #fff;
  font-size: 15px;
}

.logo_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-2 {
  width: 100%;
}
.form-2-undisplay {
  display: none;
}
.form-2-display {
  width: 100%;
  display: block;
  margin-top: 20px;
}

.icon_right {
  padding: 12px;
}

.part1_top {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.part2_top {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.detail_form {
  margin-bottom: 40px;
  padding-bottom: 0px;
}

.textarea-2 {
  height: auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(51, 102, 255, 0.1);
  border-radius: 10px;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-9 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-10 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-11 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.columns-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clinicslide1 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.clinicslide1._2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-17 {
  margin-bottom: 8px;
}

.clinicdetail1 {
  max-width: 18ch;
  margin-bottom: 0px;
}

.detail1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-3 {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e6558a),
    to(#8f2adf)
  );
  background-image: linear-gradient(180deg, #e6558a, #8f2adf);
}

.gradientbutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e6558a),
    to(#8f2adf)
  );
  background-image: linear-gradient(180deg, #e6558a, #8f2adf);
}

.success-message {
  border-radius: 10px;
  background-image: linear-gradient(127deg, #e6558a, #8f2adf);
}

.text-block-5 {
  color: #fff;
}

.text-block-6 {
  color: #ea3c4d;
}

.error-message {
  width: 100%;
  background-color: rgba(255, 222, 222, 0);
}

.navbarsection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right:40px;
  padding-left: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.testimonial_zone {
  display: -ms-grid;
  display: grid;
  height: 100%;
  padding-top: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.testimonial_profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-18 {
  text-align: center;
}

.testimonial_name {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2e3a59;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.testimonial_img {
  text-align: center;
}

.testimonial_city {
  color: rgba(46, 58, 89, 0.7);
}

.testimonial_para {
  margin-top: 24px;
  margin-bottom: 0px;
  font-size: 16px;
  text-align: center;
}

.column-13 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-14 {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header_content_container {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (min-width: 1920px) {
  .success-message-2 {
    display: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    padding: 45px 10px 45px 10px;
  }
  .success-message-2-display {
    display: block;
    background-color: #dcd8d8 !important;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    margin-left: 120px;
    margin-right: 120px;
  }
  h1 {
    color: #244171;
    font-size: 56px;
    line-height: 73px;
  }

  h2 {
    background-color: #2e3a59;
    background-image: none;
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
  }

  h3 {
    color: #244171;
    font-size: 24px;
    line-height: 40px;
  }

  h4 {
    color: #2e3a59;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
  }

  p {
    margin-bottom: 0px;
    line-height: 35px;
    font-weight: 400;
  }

  .colorbox.blackcolor {
    background-color: #244171;
    color: #2e3a59;
  }

  .image {
    width: 8em;
    margin-top: 0px;
  }

  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
  }

  .nav-link:hover {
    color: #fff;
  }

  .nav-link.w--current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 0px solid #fff;
    color: #fff;
  }

  .nav-link.w--current:active {
    color: #fff;
  }

  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header_image {
    display: inline-block;
    width: 940px;
    height: 760px;
    text-align: left;
  }

  .header_image_wrapper {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .header_content_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 122px;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .header_content {
    margin-bottom: 16px;
    color: #244171;
  }

  .paragraph-2 {
    max-width: 643px;
    color: #2e3a59;
  }

  .header_paragraph {
    max-width: 643px;
    margin-bottom: 40px;
    color: #2e3a59;
    font-weight: 400;
    letter-spacing: 0px;
  }

  .header_grid {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }

  .button_text {
    max-width: 180px;
    padding-right: 16px;
    padding-left: 0px;
    background-color: transparent;
    background-image: linear-gradient(131deg, #e6558a, #8f2adf);
    color: #244171;
    font-weight: 500;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .button_2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 171px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block {
    max-width: 131px;
    margin-right: 16px;
    padding-right: 0px;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#e6558a),
      to(#8f2adf)
    );
    background-image: linear-gradient(180deg, #e6558a, #8f2adf);
    font-weight: 500;
    text-decoration: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-block:hover {
    color: #244171;
  }

  .make_an_appointment_box {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 91%;
    height: 232px;
    margin-top: 48px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 24px 64px 0 rgba(51, 102, 255, 0.07);
  }

  .pick_address_title {
    display: inline-block;
    margin-top: 64px;
    margin-left: 40px;
    color: #2e3a59;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
  }

  .field-label {
    font-size: 20px;
    font-weight: 500;
  }

  .field-label-2 {
    display: inline-block;
    color: #2e3a59;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
  }

  .text-field {
    width: 100%;
    height: 64px;
    max-height: 64px;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(51, 102, 255, 0.1);
    border-radius: 10px;
  }

  .text-field._2 {
    width: 645px;
    height: 128px;
    max-width: 645px;
    margin-bottom: 24px;
  }

  .text-field._3 {
    width: 314px;
    max-width: 314px;
  }

  .text-field._4 {
    width: 645px;
    height: 128px;
    max-height: 128px;
    max-width: 645px;
  }

  .text-field._1 {
    width: 645px;
    max-width: 645px;
  }

  .address_form {
    margin-right: 16px;
  }

  .time_form {
    display: block;
    max-width: 348px;
    margin-right: 16px;
  }

  .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .submit-button {
    height: 64px;
    max-height: 64px;
    margin-bottom: 0px;
    padding-right: 66px;
    padding-left: 66px;
    border-radius: 10px;
    background-color: #36f;
    color: #fff;
  }

  .submit-button:hover {
    background-color: #244171;
  }

  .form_block {
    width: 1065px;
    margin-top: 48px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .form_block.tablet {
    display: block;
    width: 90%;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 10px;
  }

  .address_form_dropdown {
    width: 100%;
    height: 64px;
    max-height: 64px;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(51, 102, 255, 0.1);
    border-radius: 10px;
    background-color: #fff;
  }

  .collection-list-wrapper {
    display: none;
  }

  .body {
    height: 100%;
  }

  .grid {
    margin-top: 120px;
    grid-column-gap: 40px;
    grid-row-gap: 120px;
  }

  .body_right_text {
    display: block;
    max-width: 677px;
    font-weight: 400;
  }

  .paragraph-3 {
    max-width: 677px;
    margin-bottom: 40px;
    color: #2e3a59;
  }

  .paragraph-3.desktop {
    font-size: 18px;
    line-height: 35px;
  }

  .heading-title {
    margin-top: 0px;
    margin-bottom: 16px;
    background-color: #244171;
    color: #244171;
    text-align: left;
  }

  .heading-title.middle {
    margin-top: 0px;
    padding-top: 120px;
    text-align: center;
  }

  ._3_introduction {
    margin-bottom: 0px;
  }

  .heading-10 {
    margin-top: 120px;
    margin-bottom: 0px;
    text-align: center;
  }

  .grid-2 {
    margin-right: 160px;
    margin-bottom: 0px;
    margin-left: 160px;
    padding-bottom: 0px;
    justify-items: stretch;
    grid-column-gap: 40px;
    grid-row-gap: 120px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-2 {
    display: inline-block;
    text-align: center;
  }

  .intro_text {
    padding-top: 40px;
    color: #2e3a59;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
  }

  .grid-3 {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .div-block {
    height: 780px;
  }

  .faq_wrapper {
    padding-top: 120px;
  }

  .ask_form {
    margin-top: 88px;
  }

  .faq {
    position: static;
    display: block;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: linear-gradient(124deg, #e6558a, #8f2adf);
  }

  .clinic_prep {
    display: block;
    padding-top: 0px;
    padding-bottom: 120px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #f4f7ff;
  }

  .heading-11 {
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: center;
  }

  .clinic_para {
    display: block;
    margin-right: 160px;
    margin-bottom: 40px;
    margin-left: 160px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
  }

  .grid-4 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .clinic_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 160px;
    margin-left: 160px;
  }

  .heading-12 {
    color: #244171;
    font-size: 24px;
    line-height: 40px;
  }

  .heading-13 {
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .paragraph-5 {
    max-width: 25ch;
    margin-bottom: 0px;
  }

  .projects-col-list {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 41px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .button {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background-image: linear-gradient(125deg, #e6558a, #8f2adf);
  }

  .clinic_style_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-3 {
    width: 24px;
    height: 24px;
  }

  .square_button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    background-image: url("../images/Group-713.jpg");
    background-position: 50% 50%;
    background-size: auto;
  }

  .footer_banner {
    display: -ms-grid;
    display: grid;
    height: 530px;
    padding-left: 160px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    background-color: #e3e7f3;
  }

  .banner_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .banner_image {
    height: 531px;
    background-image: url("../images/Footer_Banner.svg");
    background-position: 0% 50%;
    background-size: contain;
    background-attachment: scroll;
  }

  .heading-14 {
    display: inline-block;
    background-image: linear-gradient(125deg, #e6558a, #8f2adf);
  }

  .button-2 {
    margin-top: 40px;
    padding: 18px 56px;
    border-radius: 10px;
    background-color: #36f;
  }

  .button-2:hover {
    background-color: #244171;
    color: #fff;
  }

  .paragraph-6 {
    max-width: 780px;
    font-size: 18px;
  }

  .testimonial {
    height: 100%;
    text-align: center;
  }

  .heading-15 {
    margin-top: 120px;
    margin-bottom: 16px;
    text-align: center;
  }

  .testimonial_subtitle {
    background-image: linear-gradient(125deg, #e6558a, #8f2adf);
    font-size: 20px;
    line-height: 32px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .testimonial_wrapper {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid-5 {
    margin-top: 64px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .text-block-3 {
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
  }

  .text-block-4 {
    display: block;
    margin-bottom: 24px;
    color: rgba(31, 31, 31, 0.6);
  }

  .collection-list-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .collection-list-wrapper-2 {
    margin-top: 64px;
    margin-right: 160px;
    margin-left: 160px;
  }

  .paragraph-7 {
    max-width: 780px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 18px;
    text-align: center;
  }

  .image-4 {
    display: block;
    margin-bottom: 16px;
  }

  .collection-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .projects-col-list-wrapper {
    margin-right: 160px;
    margin-left: 160px;
  }

  .prep_slider {
    display: block;
    height: 1150px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f4f7ff;
  }

  .mask {
    height: 100%;
    margin-right: 160px;
    margin-left: 160px;
  }

  .icon {
    background-color: #36f;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icon-2 {
    background-color: #36f;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .left-arrow {
    margin-left: 40px;
  }

  .right-arrow {
    margin-right: 40px;
  }

  .testimonial_slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 540px;
    background-color: #fff;
  }

  .mask-2 {
    height: 490px;
  }

  .left-arrow-2 {
    display: block;
    height: 490px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .slide {
    height: 100%;
  }

  .icon-3 {
    background-color: #36f;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .icon-4 {
    background-color: #36f;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .right-arrow-2 {
    height: 490px;
    margin-top: 0px;
    margin-right: 40px;
    margin-bottom: 0px;
  }

  .slide-nav {
    display: block;
    padding-top: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .form_2 {
    display: block;
    height: 100%;
    margin-bottom: 32px;
  }

  .form_2._2 {
    display: inline-block;
    height: 100%;
    margin-right: 16px;
    margin-bottom: 32px;
  }

  .form_2._1 {
    width: 645px;
    height: 100%;
    margin-bottom: 32px;
  }

  .form_2._3 {
    width: 645px;
    height: 100%;
  }

  .submit-button-2 {
    width: 645px;
    max-width: 645px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
    background-color: #36f;
  }

  .submit-button-2:hover {
    background-color: #244171;
  }

  .textarea {
    width: 645px;
    height: 0px;
    max-width: 645px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-bottom: 48px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(51, 102, 255, 0.1);
    border-radius: 10px;
  }

  .question-title {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
  }

  .faq-paragraph {
    color: #fff;
    font-weight: 400;
  }

  .faq-wrapper {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .faq-question-bar {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom-color: hsla(0, 0%, 100%, 0.2);
    font-weight: 600;
  }

  .plus-icon {
    background-color: hsla(0, 0%, 100%, 0);
    color: #fff;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .div-block-2 {
    background-color: hsla(0, 0%, 100%, 0.2);
  }

  .faq-question-wrap {
    padding-right: 120px;
    padding-left: 120px;
  }

  .hot_faq {
    display: block;
    margin-top: 80px;
    margin-bottom: 16px;
    margin-left: 120px;
    background-color: hsla(0, 0%, 100%, 0);
    color: #fff;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .pricing-h1.faq-h2 {
    margin-bottom: 40px;
    font-size: 35px;
    text-align: left;
  }

  .faq-plus-l {
    background-color: #36f;
  }

  .faq-q-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
  }

  .faq-plus {
    background-color: #36f;
  }

  .faq-question {
    height: 64px;
  }

  .container-2.faq-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .faq-answer-text {
    margin-bottom: 16px;
  }

  .footer {
    display: block;
    height: 100%;
    margin-bottom: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #36f;
  }

  .footer-centre {
    padding-top: 40px;
    padding-bottom: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-wrapper {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .paragraph-light {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
  }

  .footer-link-wrap {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .container-3 {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .logo {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background-color: hsla(0, 0%, 100%, 0);
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .text-rights {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: rgba(255, 255, 255, 0.5);
  }

  .nav-link-2 {
    font-size: 18px;
  }

  .nav-link-2:hover {
    color: #fff;
  }

  .login_button {
    font-size: 18px;
  }

  .login_button:hover {
    color: #fff;
  }

  .login_button.w--current {
    border-bottom: 2px solid #fff;
    color: #fff;
  }

  .nav-link-4 {
    font-size: 18px;
  }

  .nav-link-4:hover {
    color: #fff;
  }

  .nav-link-4.w--current {
    border-bottom: 2px solid #fff;
    color: #fff;
  }

  .login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .signup_button {
    font-size: 18px;
  }

  .signup_button:hover {
    color: #fff;
  }

  .logo_nav {
    height: 100px;
  }

  .columns {
    width: 95%;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .columns-3 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .column-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .column-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .clinicdetail1 {
    max-width: 40ch;
  }

  .error-message-2 {
    background-color: rgba(255, 222, 222, 0);
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .text-block-7 {
    color: #ea3c4d;
  }

  .text-block-8 {
    font-size: 25px !important;
    justify-content: center;
    display: flex;
    /* background-image: linear-gradient(127deg, #e6558a, #8f2adf); */
    background-image: linear-gradient(127deg, #0f0d0e, #1b1a1d);
    color: #36f;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0px 10px 0px;
  }

  .success-message-2 {
    display: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    padding: 45px 10px 45px 10px;
  }
  .success-message-2-display {
    display: block;
    background-color: #dcd8d8 !important;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    margin-left: 120px;
    margin-right: 120px;
  }

  .testimonial_img {
    width: 180px;
    padding-bottom: 16px;
  }

  .slide-2 {
    height: 100%;
  }

  .column-14 {
    display: block;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .header_content_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .success-message-2 {
    display: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    padding: 45px 10px 45px 10px;
  }
  .success-message-2-display {
    display: block;
    background-color: #dcd8d8 !important;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    margin-left: 120px;
    margin-right: 120px;
  }
  .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .header_image {
    height: 580px;
  }

  .header_content_wrapper {
    margin-top: 32px;
  }

  .header_content {
    font-size: 48px;
    line-height: 72px;
  }

  .header_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .text-block {
    font-size: 15px;
    line-height: 26px;
  }

  .heading-8 {
    width: 100%;
    max-width: 65ch;
    margin-bottom: 24px;
    font-size: 17px;
    line-height: 35px;
  }

  .make_an_appointment_box {
    width: 690px;
    margin-right: 0px;
    margin-left: 40px;
  }

  .field-label-2 {
    display: inline-block;
    font-size: 15px;
  }

  .text-field {
    width: 100%;
  }

  .text-field._2 {
    width: 100%;
  }

  .text-field._3 {
    width: 310px;
  }

  .text-field._1 {
    width: 310px;
  }

  .submit-button {
    padding-right: 24px;
    padding-left: 24px;
  }

  .form_block {
    margin-top: 48px;
  }

  .form_block.tablet {
    width: 100%;
    margin-top: 64px;
    margin-right: 40px;
    margin-left: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
  }

  .address_form_dropdown {
    width: 100%;
  }

  .grid.body {
    display: block;
  }

  .body_right_text {
    padding-top: 20px;
    padding-left: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .paragraph-3.desktop {
    max-width: 80ch;
    margin-right: 60px;
    font-size: 16px;
    line-height: 28px;
  }

  .heading-title {
    margin-top: 0px;
    font-size: 35px;
    line-height: 56px;
  }

  .heading-10 {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 35px;
  }

  .intro_text {
    font-size: 14px;
  }

  .grid-3 {
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .ask_form {
    margin-left: 0px;
  }

  .clinic_prep {
    padding-bottom: 40px;
  }

  .heading-13 {
    margin-bottom: 4px;
    line-height: 32px;
  }

  .paragraph-5 {
    max-width: 18ch;
    font-size: 14px;
    line-height: 24px;
  }

  .projects-col-list {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .square_button {
    width: 32px;
    height: 32px;
    margin-left: 0px;
  }

  .banner_content {
    margin-left: 64px;
  }

  .banner_image {
    background-position: 45% 50%;
  }

  .heading-14 {
    font-size: 28px;
    line-height: 40px;
  }

  .paragraph-6 {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 25px;
  }

  .heading-15 {
    margin-top: 40px;
  }

  .prep_slider {
    height: 1220px;
  }

  .mask {
    height: 100%;
    margin-right: 64px;
    margin-left: 64px;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }

  .submit-button-2 {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
  }

  .form_faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .textarea {
    width: 310px;
  }

  .faq-question-wrap {
    padding-right: 20px;
    padding-left: 20px;
  }

  .pricing-h1.faq-h2 {
    margin-bottom: 16px;
  }

  .faq-question {
    height: 60px;
  }

  .heading-16 {
    display: inline-block;
    margin-top: 18px;
  }

  .brand {
    margin-right: 364px;
  }

  .icon-5 {
    color: #fff;
    font-weight: 400;
  }

  .form-2 {
    width: 100%;
  }
  .form-2-undisplay {
    display: none;
  }
  .form-2-display {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .part1_top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .part2_top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .div-block-6 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .name_form {
    width: 100%;
  }

  .columns-3 {
    display: block;
    margin-top: 40px;
  }

  .column-9 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-10 {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-11 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-12 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .columns-4 {
    display: block;
  }

  .clinicslide1 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .success-message {
    border-radius: 10px;
    background-image: linear-gradient(127deg, #e6558a, #8f2adf);
  }

  .text-block-5 {
    color: #fff;
  }

  .text-block-6 {
    color: #ea3c4d;
  }

  .error-message {
    padding-right: 35px;
    padding-left: 35px;
    background-color: rgba(255, 222, 222, 0);
  }

  .navbarsection {
    padding-right: 40px;
    padding-left: 40px;
  }

  .header-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .column-14 {
    padding-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .success-message-2 {
    display: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    padding: 45px 10px 45px 10px;
  }
  .success-message-2-display {
    display: block;
    background-color: #dcd8d8 !important;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    margin-left: 120px;
    margin-right: 120px;
  }
  .flexcolwrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex2col {
    width: 100%;
  }

  .colorbox {
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
  }

  .colorbox.blackcolor {
    margin-left: 10px;
  }

  .flex3col {
    width: 100%;
  }

  .pricing-h1 {
    font-size: 34px;
    line-height: 44px;
  }
}

@media screen and (max-width: 479px) {
  .success-message-2 {
    display: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    padding: 45px 10px 45px 10px;
  }
  .success-message-2-display {
    display: block;
    background-color: #dcd8d8 !important;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    margin-left: 120px;
    margin-right: 120px;
  }
  h1 {
    font-size: 35px;
    line-height: 38px;
  }

  h2 {
    font-size: 30px;
    line-height: 33px;
  }

  h3 {
    font-size: 25px;
    line-height: 31px;
  }

  h4 {
    font-size: 21px;
    line-height: 26px;
  }

  h5 {
    font-size: 16px;
    line-height: 22px;
  }

  p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 25px;
  }

  a {
    font-size: 15px;
  }

  .small-p {
    font-size: 13px;
    line-height: 22px;
  }

  .cta-button {
    font-size: 15px;
  }

  .header {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .header_image {
    height: 320px;
  }

  .header_grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .make_an_appointment_box {
    position: static;
    right: auto;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, 0);
  }

  .field-label-2 {
    display: block;
  }

  .text-field {
    display: block;
    width: 100%;
    margin-bottom: 23px;
  }

  .text-field._1 {
    width: 100%;
  }

  .address_form {
    display: block;
    margin-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .time_form {
    margin-right: 0px;
  }

  .form {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
  }

  .submit-button {
    width: 100%;
  }

  .form_block.tablet {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding-bottom: 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .address_form_dropdown {
    width: 100%;
  }

  .body {
    margin-top: 20px;
  }

  .grid.body {
    grid-row-gap: 15px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .body_left_video {
    margin-bottom: 20px;
  }

  .body_right_text {
    padding-left: 20px;
  }

  .paragraph-3.desktop {
    max-width: 60ch;
    margin-right: 20px;
  }

  .heading-title.middle {
    padding-top: 40px;
    padding-left: 20px;
    text-align: left;
  }

  .heading-title.middle.morespace {
    padding-right: 20px;
    padding-left: 11px;
  }

  .heading-title.left {
    width: 103%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .heading-title.left.fixed {
    margin-left: -8px;
  }

  ._3_introduction {
    margin-bottom: 0px;
  }

  .heading-10 {
    margin-bottom: 32px;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .intro {
    margin-bottom: 40px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .grid-3 {
    width: 100%;
  }

  .faq_wrapper {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .ask_form {
    width: 100%;
    margin-top: 40px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .faq {
    width: 100%;
  }

  .heading-11 {
    padding-top: 20px;
    font-size: 28px;
    line-height: 40px;
  }

  .clinic_para {
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
  }

  .projects-col-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer_banner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .banner_content {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .testimonial {
    margin-bottom: 20px;
  }

  .heading-15 {
    font-size: 28px;
    line-height: 40px;
  }

  .collection-list-2 {
    display: block;
  }

  .paragraph-7 {
    font-size: 14px;
  }

  .prep_slider {
    display: block;
    height: 2600px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .mask {
    margin-right: 20px;
    margin-left: 20px;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }

  .testimonial_slide {
    height: 940px;
  }

  .mask-2 {
    height: 870px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .left-arrow-2 {
    display: none;
  }

  .right-arrow-2 {
    display: none;
  }

  .form_2._2 {
    margin-right: 0px;
  }

  .submit-button-2 {
    width: 100%;
    padding-right: 83px;
    padding-left: 83px;
  }

  .form_faq {
    width: auto;
  }

  .textarea {
    width: 100%;
  }

  .question-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .faq-plus-wrap {
    margin-right: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .pricing-h1.faq-h2 {
    line-height: 40px;
  }

  .faq-q-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  }

  .faq-plus {
    width: 20px;
  }

  .container-2.faq-container {
    width: 100%;
    max-width: 100%;
    margin: 10px 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .faq-answer {
    padding-left: 40px;
  }

  .footer-centre {
    padding-top: 40px;
    padding-bottom: 16px;
  }

  .footer-wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .text-rights {
    margin-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    text-align: left;
  }

  .brand {
    margin-right: 80px;
  }

  .form-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .form-2-undisplay {
    display: none;
  }
  .form-2-display {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .part1_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .part2_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .columns {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-3 {
    margin-bottom: 10px;
  }

  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-5 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-6 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-7 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .name_form {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .email_form {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .phone_form {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .detail_form {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .textarea-2 {
    margin-bottom: 0px;
  }

  .clinicslide1 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .clinicslide1._2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .clinicslide1._1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .clinicdetail1 {
    padding-right: 15px;
  }

  .navbarsection {
    padding-right: 10px;
    padding-left: 10px;
  }

  .testimonial_zone {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .testimonial_profile {
    margin-top: 24px;
  }

  .testimonial_img {
    margin-bottom: 14px;
    padding-bottom: 0px;
  }

  .header-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .column-13 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-14 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

#w-node-_05671d05-77be-f6b4-b197-673099a66996-6e431e61 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_346b63a9-801f-d40c-dfd8-140ad231896c-6e431e61 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_9feb404e-40e0-1d43-6fb4-f9c4c06fba91-6e431e61 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ded3bac3-6b6e-b757-eea6-d03f2a4118b2-6e431e61 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_22754da6-01d0-947c-22d0-ac2c8aaca467-6e431e61 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-c5673726-c1c3-25a9-dece-638ab52a051f-6e431e61 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_14fd5438-b5f7-d4bd-0707-9ac0327dde16-6e431e61 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c92d58de-17c1-6e4f-ccfe-83003bab6b84-6e431e61 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c92d58de-17c1-6e4f-ccfe-83003bab6b8c-6e431e61 {
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (min-width: 994px) {
  .success-message-2 {
    display: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    padding: 45px 10px 45px 10px;
  }

  .success-message-2-display {
    display: block;
    background-color: #dcd8d8 !important;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media screen and (min-width: 1920px) {
  .success-message-2 {
    display: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    padding: 45px 10px 45px 10px;
  }
  .success-message-2-display {
    display: block;
    background-color: #dcd8d8 !important;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    margin-left: 120px;
    margin-right: 120px;
  }
  #w-node-_05671d05-77be-f6b4-b197-673099a66996-6e431e61 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_346b63a9-801f-d40c-dfd8-140ad231896c-6e431e61 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_9feb404e-40e0-1d43-6fb4-f9c4c06fba91-6e431e61 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-ded3bac3-6b6e-b757-eea6-d03f2a4118b2-6e431e61 {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-c678f616-4d47-66ae-ce95-0f8f80634356-6e431e61 {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

@media screen and (max-width: 991px) {
  .success-message-2 {
    display: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    padding: 45px 10px 45px 10px;
  }
  .success-message-2-display {
    display: block;
    background-color: #dcd8d8 !important;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    margin-left: 120px;
    margin-right: 120px;
  }
  #w-node-ded3bac3-6b6e-b757-eea6-d03f2a4118b2-6e431e61 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  .success-message-2 {
    display: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    padding: 45px 10px 45px 10px;
  }
  .success-message-2-display {
    display: block;
    background-color: #dcd8d8 !important;
    border-radius: 10px;
    background-color: hsla(0, 0%, 86.7%, 0);
    margin-left: 120px;
    margin-right: 120px;
  }
  #w-node-_05671d05-77be-f6b4-b197-673099a66996-6e431e61 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-ded3bac3-6b6e-b757-eea6-d03f2a4118b2-6e431e61 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_394a74a3-1f16-93f3-8c35-2d75acdbc9c9-6e431e61 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_22754da6-01d0-947c-22d0-ac2c8aaca467-6e431e61 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-c5673726-c1c3-25a9-dece-638ab52a051f-6e431e61 {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: "Svn poppins";
  src: url("../fonts/SVN-Poppins-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Svn poppins";
  src: url("../fonts/SVN-Poppins-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Svn poppins";
  src: url("../fonts/SVN-Poppins-Bold.otf") format("opentype"),
    url("../fonts/SVN-Poppins-ExtraBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Svn poppins";
  src: url("../fonts/SVN-Poppins-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}